html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: arial,verdana,helvetica,'PingFang SC','HanHei SC',STHeitiSC-Light,Microsoft Yahei,sans-serif;
    color: #f6f6f8;
}
.el-header {
    padding: 0;
}